<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <menuitem id="metabase_root_menu"
              name="Metabase"
              web_icon="sp_odoo_metabase_connector,static/description/icon.png"
              sequence="5"/>

    <menuitem id="metabase_dashboard_menu"
              name="All Metabase Dashboard"
              parent="metabase_root_menu"
              action="action_metabase_dashboard"
              sequence="2"/>

    <menuitem id="configuration_menu_root"
              name="Configuration"
              parent="metabase_root_menu"
              sequence="6"/>

    <menuitem id="configuration_menu"
              name="Configuration"
              parent="configuration_menu_root"
              action="action_metabase_configuration"
              sequence="1"/>

</odoo>